<div class="avatar">
        <a href="https://zzhx2006.github.io/">
                <img src="/avatar/favicon-256x256.png" alt="我的头像" class="avatar">
        </a>
</div>
<div class="my_name">
        <p id="my_name">Zhanhaoxiang Zhang</p>
</div>
<div class="nav">
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
</div>
<div class="contact_logos">
        <a href="https://github.com/zzhx2006"><img src="/logo/github.svg" alt="GitHub Logo" class="logo"
                        title="GitHub"></a>
        <a href="mailto:zzhx2006@outlook.com"><img src="/logo/thunderbird.svg" alt="E-mail" class="logo"
                        title="E-mail"></a>
        <a href="/public.key"><img src="/logo/gnuprivacyguard.svg" alt="GPG Public Key" class="logo"
                        title="GPG Public Key"></a>
        <a href="/index.xml"><img src="/logo/rss.svg" alt="RSS" class="logo" title="RSS"></a>
        <a href="https://space.bilibili.com/1805605010"><img src="/logo/bilibili.svg" alt="Bilibili Logo" class="logo"
                        title="Bilibili"></a>
        <a href="https://www.zhihu.com/people/xuan-xuan-42-18-81"><img src="/logo/zhihu.svg" alt="Zhihu Logo"
                        class="logo" title="Zhihu"></a>
        <a href="https://discord.gg/8BKufX4JaM"><img src="/logo/discord.svg" alt="Discord Logo" class="logo"
                        title="Discord"></a>
        <a href="https://www.reddit.com/user/zzhx2006/"><img src="/logo/reddit.svg" alt="Reddit Logo" class="logo"
                        title="Reddit"></a>
        <a href="https://wiki.archlinuxcn.org/wiki/User:Messier81"><img src="/logo/archlinux.svg" alt="ArchWiki Logo"
                        class="logo" title="ArchWiki"></a>
        <a href="https://t.me/zzhx2006"><img src="/logo/telegram.svg" alt="Telegram Logo" class="logo"
                        title="Telegram"></a>
        <a href="https://matrix.to/#/@messier81:matrix.org"><img src="/logo/matrix.svg" alt="Matrix Logo" class="logo"
                        title="Matrix"></a>
        <a href="irc://irc.libera.chat:6697/Messier81"><img src="/logo/liberadotchat.svg" alt="IRC" class="logo"
                        title="IRC"></a>
        <a href="https://x.com/ZH2219658023"><img src="/logo/x.svg" alt="X Logo" class="logo" title="X"></a>
        <a href="https://www.facebook.com/profile.php?id=100069386182093"><img src="/logo/facebook.svg"
                        alt="Facebook Logo" class="logo" title="Facebook"></a>
        <a href="https://www.youtube.com/@zzhx2006"><img src="/logo/youtube.svg" alt="YouTube Logo" class="logo"
                        title="YouTube"></a>
</div>