@font-face {
    font-family: 'SimSun';
    src: url('../fonts/SimSun.woff2') format('woff2');
    /* font-weight: normal; */
    /* font-style: normal; */
    font-display: swap;
}

@font-face {
    font-family: "Times New Roman";
    src: url("../fonts/times.woff2")format("woff2");
    /* font-weight: normal;
    font-style: normal; */
    font-display: swap;
}

:root,
[data-md-color-scheme=default] {
    --md-default-fg-color: #000000ff;
    --md-code-fg-color: #000000ff;
    --md-primary-bg-color: #000000ff;
}

body {
    font-display: swap !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
    font-smooth: always !important;
    hyphens: auto !important;
}

label[for="__toc"],
label[for="__nav_2_2"]>span.md-ellipsis,
label[for="__nav_2_3"]>span.md-ellipsis {
    color: #000000ff;
}

div.md-content__inner>header.md-typeset>h1,
h2>a.toclink {
    color: #000000ff;
    font-weight: bold;
}

div.md-content__inner>article.md-post>div.md-post__content>p,
div.md-content__inner>article.md-post>div.md-post__content>nav>a {
    font-family: "Times New Roman", "SimSun";
    /* color: #000000ff; */
    letter-spacing: 0px;
    line-height: 1.5;
    margin: 0px 0px 0px 0px;
}

div.md-content__inner>article.md-post>div.md-post__content>h2 {
    margin: 0px 0px 6px 0px;
    letter-spacing: 0px;
    line-height: 1.25;
}

div.md-content__inner>article {
    margin: 0em 0em 2em 0em;
    padding: 0.5em 1em 2.5em 1.5em;
    border: 1px solid;
    border-radius: 1em;
}

article.md-content__inner p:not(:has(> img:first-child)) {
    font-family: "Times New Roman", "SimSun";
    font-size: 1em;
    text-indent: 2em;
    color: #000000ff;
    letter-spacing: 0.4px;
    line-height: 1.5;
    text-align: justify;
    margin: 0px 0px 0px 0px;
}

article.md-content__inner blockquote {
    font-style: italic;
}

article.md-content__inner>h1 {
    font-size: 34.7px;
    color: #000000ff;
    font-weight: bold;
}

article.md-content__inner>h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0.8em 0px 0.8em;
    letter-spacing: 0px;
}

article.md-content__inner>h3,
article.md-content__inner>h4,
article.md-content__inner>h5,
article.md-content__inner>h6 {
    font-size: 20px;
}

article.md-content__inner>h3 {
    margin: 0.7em 0px 0.7em;
}

article.md-content__inner>ul {
    margin: 0px;
}

article.md-content__inner>ul>li {
    font-family: "Times New Roman", "SimSun";
    font-size: 1em;
    /* text-indent: 2em; */
    color: #000000ff;
    letter-spacing: 0.4px;
    line-height: 1.5;
    text-align: justify;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

@media screen and (max-width: 44.9844em) {
    article.md-content__inner p {
        letter-spacing: 0px;
    }

    article.md-content__inner>ul>li {
        letter-spacing: 0px;
    }

    [dir=ltr] .md-typeset ol li,
    [dir=ltr] .md-typeset ul li {
        margin-left: 2.4em !important;
    }

}



[dir=ltr] .md-typeset ol li,
[dir=ltr] .md-typeset ul li {
    margin-left: 2.45em;
}

mjx-container[jax="CHTML"][display="true"] {
    margin: 0.5em auto !important;
    font-size: 100% !important;
}

mjx-container[jax="CHTML"] {
    font-size: 100% !important;
}